.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
  }
   */

   .modal-content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: move;
    user-select: none;
    overflow: hidden;
  }
  
  .modal-content img {
    max-width: 100%;
    max-height: 100%;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  


   /* ******************************** */
/* 
   .gallery {
    display: flex;
    align-items: flex-start;
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .thumbnail {
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 80px;
    height: auto;
  }
  
  .main-image {
    position: relative;
  }
  
  .nav-buttons {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  } */